<a href="https://colab.research.google.com/github/2303A52243/AIML/blob/main/AIML_%5BASSIGNMENT_4%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
graph1 = {
  'A' : ['B', 'C', 'G'],
  'B' : ['A'],
  'C' : ['A', 'D', 'F'],
  'D' : ['A', 'C', 'E', 'H'],
  'E' : ['D', 'H', 'F'],
  'F' : ['C', 'E'],
  'G' : ['A', 'D', 'H'],
  'H' : ['D', 'E', 'G'],
}

def dfs(graph, node, visited):
  if node not in visited:
    visited.append(node)
    for k in graph[node]:
      dfs(graph,k, visited)

  return visited

visited = dfs(graph1, 'B', [])
print(visited)

['B', 'A', 'C', 'D', 'E', 'H', 'G', 'F']

In [ ]:
import numpy as np
from tabulate import tabulate

def count_misplaced_values(initial_table, goal_table):
    # Ensure both tables are numpy arrays for easier comparison
    initial_table = np.array(initial_table)
    goal_table = np.array(goal_table)

    # Ensure both tables have the same shape
    if initial_table.shape != goal_table.shape:
        raise ValueError("The initial and goal tables must have the same dimensions")

    # Compare the tables element-wise and get the mismatched positions
    misplaced_positions = np.argwhere(initial_table != goal_table)

    # Prepare data for tabular display
    table_data = []
    for pos in misplaced_positions:
        row, col = pos
        table_data.append([row, col, initial_table[row, col], goal_table[row, col]])

    # Create and print the table with vertical and horizontal lines
    headers = ["Row", "Column", "Initial Value", "Goal Value"]
    table = tabulate(table_data, headers, tablefmt="grid")

    # Count the number of misplaced values
    misplaced_count = len(table_data)

    return misplaced_count, table

# Example usage
initial_table = [
    [1, 2, 3],
    [4, 0, 5],
    [6, 7, 8]
]

goal_table = [
    [1, 2, 3],
    [4, 5, 0],
    [6, 7, 8]
]

misplaced_count, table = count_misplaced_values(initial_table, goal_table)
print(f"Number of misplaced values: {misplaced_count}")
print("Misplaced values in tabular structure:")
print(table)

Number of misplaced values: 2
Misplaced values in tabular structure:
+-------+----------+-----------------+--------------+
|   Row |   Column |   Initial Value |   Goal Value |
+=======+==========+=================+==============+
|     1 |        1 |               0 |            5 |
+-------+----------+-----------------+--------------+
|     1 |        2 |               5 |            0 |
+-------+----------+-----------------+--------------+